The goal of this notebook is to make two lists, one that contains all the month data and one that contains all the day data. The steps for doing this are as follows:
1. Create two new objects: Month and Day
Open first file with the prefix "PRG218-"
2. Match the month name
3. Replace with number
4. Do this for all files
5. Make a loop to do all entries.

In [1]:
import os
import re
from natsort import natsorted

In [2]:
os.getcwd()

'/Users/alaynemoody/Dropbox/Grad Studies/Flinders/Dissertation/diaries'

In [3]:
path = '/Users/alaynemoody/Dropbox/Grad Studies/Flinders/Dissertation/diaries'
numberoffiles=0
for file in os.listdir(path):
        if file.startswith("PRG218-"):
            numberoffiles=numberoffiles+1
numberoffiles

363

In [4]:
monthDay = []
for file in natsorted(os.listdir(path)):
        if file.startswith("PRG218-"):
            with open(file) as f:
                first_line = f.readline().strip('\n')
                monthDay.append(first_line)

In [5]:
print(monthDay[0:10])

['January 1 Sunday  ', 'January 2 Monday  ', 'January 3 Tuesday  ', 'January 4 Wednesday  ', 'January 5 Thursday  ', 'January  6 Friday  ', 'January 7 Saturday  ', 'January  8 Sunday  ', 'January 9 Monday  ', 'January  10 Tuesday   ']

In [6]:
monthDay = ''.join(monthDay)

In [7]:
print(monthDay[0:100])

January 1 Sunday  January 2 Monday  January 3 Tuesday  January 4 Wednesday  January 5 Thursday  Janu

In [8]:
dates = re.split('(?<=\d )\w*',monthDay)

In [9]:
print(dates[0:10])

['January 1 ', '  January 2 ', '  January 3 ', '  January 4 ', '  January 5 ', '  January  6 ', '  January 7 ', '  January  8 ', '  January 9 ', '  January  10 ']

In [10]:
dates = [i.lstrip() for i in dates]

In [12]:
print(dates[0:10])

['January 1 ', 'January 2 ', 'January 3 ', 'January 4 ', 'January 5 ', 'January  6 ', 'January 7 ', 'January  8 ', 'January 9 ', 'January  10 ']

In [13]:
dates = ''.join(dates)

In [14]:
print(dates[0:100])

January 1 January 2 January 3 January 4 January 5 January  6 January 7 January  8 January 9 January

In [15]:
dates = dates.replace('Marquis of Argyle not arrived.  The “Murray” in on the 2 .  Easterly winds prevailing.', '')

In [16]:
dates = dates.replace('1865', '')

In [17]:
dates = dates.replace('u a', 'ua')
dates = dates.replace('a r', 'ar')
dates = dates.replace('b e', 'be')
dates = dates.replace('m b', 'mb')

In [20]:
print(dates[0:200])

January 1 January 2 January 3 January 4 January 5 January  6 January 7 January  8 January 9 January  10 January 11 January 12 January 13 January 14 January  15 January  16 January  17 January 18 Janua

In [21]:
months = re.split('\d+',dates)

In [22]:
print(months[0:10])

['January ', ' January ', ' January ', ' January ', ' January ', ' January  ', ' January ', ' January  ', ' January ', ' January  ']

In [23]:
days = re.split('\D+',dates)

In [24]:
print(days[0:10])

['', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [25]:
months = ''.join(months)

In [26]:
print(months[0:100])

January  January  January  January  January  January   January  January   January  January   January

In [27]:
months = months.replace('January', '1')
months = months.replace('February', '2')
months = months.replace('March', '3')
months = months.replace('April', '4')
months = months.replace('May', '5')
months = months.replace('June', '6')
months = months.replace('July', '7')
months = months.replace('August', '8')
months = months.replace('September', '9')
months = months.replace('October', '10')
months = months.replace('November', '11')
months = months.replace('December', '12')

In [28]:
print(months[0:400])

1  1  1  1  1  1   1  1   1  1   1  1  1  1  1   1   1   1  1   1  1   1   1   1   1   1   1  1   1   1   1   2   2   2   2  2  2   2  2   2  2   2   2   2  2   2  2   2  2   2   2   2  2   2  2   2  2   2  2   3  3   3   3   3  3   3  3  3  3   3  3    3  3  3  3  3  3  3  3  3   3   3  day  3   3  3   `3  3   3  3   3  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4   Sunday   4  Monday  4  Tuesd

In [29]:
months = re.sub(r"[a-z]|[A-Z]", "", months)

In [30]:
print(months[0:400])

1  1  1  1  1  1   1  1   1  1   1  1  1  1  1   1   1   1  1   1  1   1   1   1   1   1   1  1   1   1   1   2   2   2   2  2  2   2  2   2  2   2   2   2  2   2  2   2  2   2   2   2  2   2  2   2  2   2  2   3  3   3   3   3  3   3  3  3  3   3  3    3  3  3  3  3  3  3  3  3   3   3    3   3  3   `3  3   3  3   3  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4      4    4     4  4  4  4  4

In [31]:
months = re.split(' +',months)

In [32]:
print(months[0:10])

['1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [33]:
len(months)

364

In [34]:
len(days)

365

In [35]:
months = [i for i in months if i]
len(months)

363

In [36]:
days = [i for i in days if i]
len(days)

363

In [159]:
with open('months.csv', 'w') as f:
        f.write("\n".join(months))

In [160]:
with open('days.csv', 'w') as f:
        f.write("\n".join(days))