# Merging whole diary and chunk datatables

## Resources

In [3]:
# Libraries
library(tidyverse) # for data manipulation

In [2]:
# Functions
factorize <- function(df){ # Create a function
  for(i in which(sapply(df, class) == "character")) # that looks for variables with the character class 
      df[[i]] = as.factor(df[[i]]) # and converts them to factor (i.e., categorical) class
  return(df)
}

unfactorize <- function(df){ # Create a function
  for(i in which(sapply(df, class) == "factor")) # that looks for variables with the character class 
      df[[i]] = as.character(df[[i]]) # and converts them to factor (i.e., categorical) class
  return(df)
}

In [19]:
# Data
df1 <- read.csv("20240701_PhD_FinalData-DiaryChk.csv")
df1 <- df1[,3:38]
# Variabe Names
glimpse(df1)

Rows: 1,023
Columns: 36
$ docid            <chr> "D0002", "D0002", "D0002", "D0002", "D0002", "D0002",…
$ docyear          <int> 1883, 1883, 1883, 1883, 1883, 1883, 1883, 1883, 1883,…
$ docmonth         <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ authorName       <chr> "Anne F. Richards", "Anne F. Richards", "Anne F. Rich…
$ docauthorid      <chr> "D0002", "D0002", "D0002", "D0002", "D0002", "D0002",…
$ authorLocation   <chr> "Australia", "Australia", "Australia", "Australia", "…
$ authorGender     <chr> "F", "F", "F", "F", "F", "F", "F", "F", "F", "F", "F"…
$ nationalOrigin   <chr> "English", "English", "English", "English", "English"…
$ irish            <chr> "False", "False", "False", "False", "False", "False",…
$ otherUK          <chr> "True", "True", "True", "True", "True", "True", "True…
$ relMin           <chr> "False", "False", "False", "False", "False", "False",…
$ catholic         <chr> "False", "False", "False", "False", "False", "False",…
$ otherChristian   <chr> "True", "True", "True", "True", "True", "True", "True…
$ U                <chr> "False", "False", "False", "False", "False", "False",…
$ M                <chr> "True", "True", "True", "True", "True", "True", "True…
$ S                <chr> "False", "False", "False", "False", "False", "False",…
$ F                <chr> "True", "True", "True", "True", "True", "True", "True…
$ L                <chr> "False", "False", "False", "False", "False", "False",…
$ text             <chr> "Charra Wednesday Nov 4th 1883 A nice cool day Mrs Ro…
$ sequence         <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16…
$ totalTokens      <int> 277, 281, 276, 270, 282, 279, 280, 286, 282, 269, 269…
$ uniqueTokens     <int> 171, 170, 170, 163, 147, 164, 169, 181, 169, 161, 165…
$ lexicalDiversity <dbl> 0.6173285, 0.6049822, 0.6159420, 0.6037037, 0.5212766…
$ scoreNeg         <dbl> 0.070000000, 0.044333333, 0.074750000, 0.045600000, 0…
$ scoreNeu         <dbl> 0.8910000, 0.9076667, 0.8845000, 0.9256000, 0.8922857…
$ scorePos         <dbl> 0.039000000, 0.048000000, 0.041000000, 0.028600000, 0…
$ scoreCom         <dbl> -0.37976667, -0.05883333, -0.13772500, -0.21692000, -…
$ chunks           <int> 447, 447, 447, 447, 447, 447, 447, 447, 447, 447, 447…
$ position         <dbl> 0.002237136, 0.004474273, 0.006711409, 0.008948546, 0…
$ topicNumber      <int> 8, 8, 8, 8, 8, 8, 5, 0, 0, 0, 8, 8, 8, 5, 8, 8, 8, 8,…
$ mentsDis         <chr> "Mrs Roberts, Tom, Hiern, Worrier, Jeff Miller, Jimmy…
$ mentsTot         <int> 8, 10, 9, 14, 15, 15, 17, 17, 12, 14, 17, 16, 14, 14,…
$ indsTot          <int> 6, 7, 8, 11, 9, 9, 9, 15, 10, 7, 13, 8, 9, 9, 9, 7, 6…
$ fppAll_Ct        <int> 10, 8, 8, 8, 10, 10, 4, 7, 10, 12, 14, 8, 8, 8, 7, 3,…
$ fppSub_Ct        <int> 7, 6, 7, 6, 10, 8, 1, 4, 6, 10, 8, 6, 5, 5, 5, 3, 5, …
$ fppObj_Ct        <int> 3, 2, 1, 2, 0, 2, 3, 3, 4, 2, 6, 2, 3, 3, 2, 0, 0, 0,…

In [20]:
# Data
df2 <- read.csv("20240701_PhD_FinalData-Diary.csv")
df2 <- df2[,c(2,29:33)]
# Variabe Names
glimpse(df2)

Rows: 4
Columns: 6
$ docid     <chr> "D0002", "D0003", "D0007", "D0009"
$ mentsTot  <int> 3801, 574, 1706, 1209
$ indsTot   <int> 1267, 221, 712, 817
$ fppAll_Ct <int> 2082, 1121, 1030, 913
$ fppSub_Ct <int> 1522, 1013, 787, 802
$ fppObj_Ct <int> 560, 108, 243, 111

In [21]:
df <- left_join(df1,df2, by="docid")
colnames(df) <- sub("\\.y", "FULL", colnames(df))
colnames(df) <- sub("\\.x", "", colnames(df))
head(df)

  docid docyear docmonth authorName       docauthorid authorLocation
1 D0002 1883    NA       Anne F. Richards D0002       Australia
2 D0002 1883    NA       Anne F. Richards D0002       Australia
3 D0002 1883    NA       Anne F. Richards D0002       Australia
4 D0002 1883    NA       Anne F. Richards D0002       Australia
5 D0002 1883    NA       Anne F. Richards D0002       Australia
6 D0002 1883    NA       Anne F. Richards D0002       Australia
  authorGender nationalOrigin irish otherUK ⋯ mentsTot indsTot fppAll_Ct
1 F            English        False True    ⋯  8        6      10
2 F            English        False True    ⋯ 10        7       8
3 F            English        False True    ⋯  9        8       8
4 F            English        False True    ⋯ 14       11       8
5 F            English        False True    ⋯ 15        9      10
6 F            English        False True    ⋯ 15        9      10
  fppSub_Ct fppObj_Ct mentsTotFULL indsTotFULL fppAll_CtFULL fppSub_CtFULL
1  7        3         3801         1267        2082          1522
2  6        2         3801         1267        2082          1522
3  7        1         3801         1267        2082          1522
4  6        2         3801         1267        2082          1522
5 10        0         3801         1267        2082          1522
6  8        2         3801         1267        2082          1522
  fppObj_CtFULL
1 560
2 560
3 560
4 560
5 560
6 560

In [22]:
#Save Sampling Frame

write.csv(df, 
          "20240702_PhD_FinalData-DiaryChk.csv", 
          row.names=FALSE)

In [23]:
glimpse(df)

Rows: 1,023
Columns: 41
$ docid            <chr> "D0002", "D0002", "D0002", "D0002", "D0002", "D0002",…
$ docyear          <int> 1883, 1883, 1883, 1883, 1883, 1883, 1883, 1883, 1883,…
$ docmonth         <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ authorName       <chr> "Anne F. Richards", "Anne F. Richards", "Anne F. Rich…
$ docauthorid      <chr> "D0002", "D0002", "D0002", "D0002", "D0002", "D0002",…
$ authorLocation   <chr> "Australia", "Australia", "Australia", "Australia", "…
$ authorGender     <chr> "F", "F", "F", "F", "F", "F", "F", "F", "F", "F", "F"…
$ nationalOrigin   <chr> "English", "English", "English", "English", "English"…
$ irish            <chr> "False", "False", "False", "False", "False", "False",…
$ otherUK          <chr> "True", "True", "True", "True", "True", "True", "True…
$ relMin           <chr> "False", "False", "False", "False", "False", "False",…
$ catholic         <chr> "False", "False", "False", "False", "False", "False",…
$ otherChristian   <chr> "True", "True", "True", "True", "True", "True", "True…
$ U                <chr> "False", "False", "False", "False", "False", "False",…
$ M                <chr> "True", "True", "True", "True", "True", "True", "True…
$ S                <chr> "False", "False", "False", "False", "False", "False",…
$ F                <chr> "True", "True", "True", "True", "True", "True", "True…
$ L                <chr> "False", "False", "False", "False", "False", "False",…
$ text             <chr> "Charra Wednesday Nov 4th 1883 A nice cool day Mrs Ro…
$ sequence         <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16…
$ totalTokens      <int> 277, 281, 276, 270, 282, 279, 280, 286, 282, 269, 269…
$ uniqueTokens     <int> 171, 170, 170, 163, 147, 164, 169, 181, 169, 161, 165…
$ lexicalDiversity <dbl> 0.6173285, 0.6049822, 0.6159420, 0.6037037, 0.5212766…
$ scoreNeg         <dbl> 0.070000000, 0.044333333, 0.074750000, 0.045600000, 0…
$ scoreNeu         <dbl> 0.8910000, 0.9076667, 0.8845000, 0.9256000, 0.8922857…
$ scorePos         <dbl> 0.039000000, 0.048000000, 0.041000000, 0.028600000, 0…
$ scoreCom         <dbl> -0.37976667, -0.05883333, -0.13772500, -0.21692000, -…
$ chunks           <int> 447, 447, 447, 447, 447, 447, 447, 447, 447, 447, 447…
$ position         <dbl> 0.002237136, 0.004474273, 0.006711409, 0.008948546, 0…
$ topicNumber      <int> 8, 8, 8, 8, 8, 8, 5, 0, 0, 0, 8, 8, 8, 5, 8, 8, 8, 8,…
$ mentsDis         <chr> "Mrs Roberts, Tom, Hiern, Worrier, Jeff Miller, Jimmy…
$ mentsTot         <int> 8, 10, 9, 14, 15, 15, 17, 17, 12, 14, 17, 16, 14, 14,…
$ indsTot          <int> 6, 7, 8, 11, 9, 9, 9, 15, 10, 7, 13, 8, 9, 9, 9, 7, 6…
$ fppAll_Ct        <int> 10, 8, 8, 8, 10, 10, 4, 7, 10, 12, 14, 8, 8, 8, 7, 3,…
$ fppSub_Ct        <int> 7, 6, 7, 6, 10, 8, 1, 4, 6, 10, 8, 6, 5, 5, 5, 3, 5, …
$ fppObj_Ct        <int> 3, 2, 1, 2, 0, 2, 3, 3, 4, 2, 6, 2, 3, 3, 2, 0, 0, 0,…
$ mentsTotFULL     <int> 3801, 3801, 3801, 3801, 3801, 3801, 3801, 3801, 3801,…
$ indsTotFULL      <int> 1267, 1267, 1267, 1267, 1267, 1267, 1267, 1267, 1267,…
$ fppAll_CtFULL    <int> 2082, 2082, 2082, 2082, 2082, 2082, 2082, 2082, 2082,…
$ fppSub_CtFULL    <int> 1522, 1522, 1522, 1522, 1522, 1522, 1522, 1522, 1522,…
$ fppObj_CtFULL    <int> 560, 560, 560, 560, 560, 560, 560, 560, 560, 560, 560…