## Objective: To extract selected texts from IED corpus

Steps:

<ol>
<li>For first row,</li>
<ol>
    <li>Open the sourceid</li>
    <li>Extract contents of the "part id" tag with the docid.</li>
    <li>Save text to a file.</li></ol>

<li>Use a loop to do this for a subset of sample</li>
<li>Run loop for all rows in sample</li>
</ol>

In [1]:
# Import libraries
import pandas as pd

In [2]:
#from bs4 import BeautifulSoup
#import nltk
#import re

In [28]:
# 1. Open Subset CSV
df = pd.read_csv("20240603_PhD_IEDSubset01.csv") 
df.head()

       x
0  23470
1  33534
2  37428
3  37920
4  38365

In [29]:
# Display key criteria for following set of instructions. 
df[['x']].head()

       x
0  23470
1  33534
2  37428
3  37920
4  38365

In [30]:
df["x"] = df["x"].astype(str)

In [31]:
filenames = df["x"].to_list()
filenames

['23470',
 '33534',
 '37428',
 '37920',
 '38365',
 '41186',
 '42908',
 '44620',
 '46812',
 '48266']

In [32]:
len(filenames)

10

In [33]:
filenames=[sub + ".txt" for sub in filenames]

In [34]:
import os
os.getcwd()

'/Users/alaynemoody/Dropbox/GradStudies/Flinders/Dissertation'

In [35]:
for f in filenames:
    src_path = os.path.join("/Users/alaynemoody/Dropbox/GradStudies/Flinders/Dissertation/SubsetIED/", f)
    dst_path = os.path.join("/Users/alaynemoody/Dropbox/GradStudies/Flinders/Dissertation/SubsetIED/Subset/", f)
    os.rename(src_path, dst_path)
print("done")

done